<footer class="footer">
<div class="footer">
		<!--a href="https://www.linkedin.com/in/yurifalcao/" class="fa fa-facebook"></a-->
		<!--a href="#" class="fa fa-twitter"></a-->
		<a href="https://www.instagram.com/pattiesexpress/?hl=en" class="fa fa-instagram"></a>
		<a href="#"></a>
		
		<p><a href="https://www.pattiesexpress.ca/"> Patties Express</a></p>
	</div>
</footer>