        <header>            
            <img width="100%" src="/images2/pattiesexpress.png" alt="Patties Express" />
            <p class="borderlessheader">
            {{#if username}}
                Welcome <em>{{username}}</em>! | <a href="/Profile">Profile</a> | <a href="/logout">logout</a>
            {{else}}
                myaccount: <a href="/login">login</a>
            {{/if}}
            </p>
        </header>
