<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Patties Express</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

<div class="main_container" id="home">

	<div class="banner_image" >
            </p>
		<div class="banner_content">
			<h1>Patties Express<br> <span> <span></h1>
			<p></p>
			<div class="navbar_items">
				<ul>
                    {{#if username}}
                    <li><a href="/report">REPORTS</a></li>
					<li> {{username}} <a href="/Profile">PROFILE</a></li> 
                    <li><a href="/logout">LOGOUT</a></li>
                    {{/if}}
				
				</ul>
				<br><br>
				
			</div>
		</div>	
	</div>
