<!doctype html>
<html>

<head>
  <title>Dashboard</title>

</head>

<body>
    {{> header user}}
  
  <h3>Hello {{user.username}}</h3>
  <p>Welcome to your dashboard</p>
  <p>Your info</p>
  <h4>username: {{user.username}} </h4>
  <h4>email: {{user.email}}</h4>


  
</body>

</html>