<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>

    <body>
        {{> header user}}

        <h1>Homepage</h1>
        {{#if user}}
            Welcome {{user.username}}, <a href="/logout">Logout</a>  
        {{else}}
            <a href="/login">Login</a>  
        {{/if}}
        {{> footer user}}
    </body>
</html>