
<!doctype html>
<html>

<head>
  <title>Login</title>
          <link rel="stylesheet" href="css/styles.css" />

</head>


    {{> header user}}
    <div class="contactus" id="contactus">

        <h1>Login</h1>
        {{#if errorMsg}}
            <h5>{{errorMsg}}</h5><BR>
        {{else}}
            <h5>Please login below</h5>
        {{/if}}
        <form method="post" action="/login">
            <label class="fixedlabel">Username: </label><input name="username" type="text"><br/><BR>
            <label class="fixedlabel">Password: </label><input name="password" type="password"><br/><BR>
            <label class="fixedlabel"></label>
            <button class="loginButton" 
                style="background-color: rgb(56, 56, 56);
                    border: none;
                    color:#fff;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;" 
                type="submit">Login
            </button>
         </form>
    </div>
    {{> footer user}}
</body>

</html>